## Methemetical Operation

In [8]:
import numpy as np
a1 = np.array([1 , 5 , 7 , 3 , 5 , 2 ]) # create a 1D numpy array
a1

array([1, 5, 7, 3, 5, 2])

In [9]:
a2 = ([2 , 4 , 5 , 9 , 8 , 3]) # create a 2D numpy array
a2

[2, 4, 5, 9, 8, 3]

In [10]:
a1 + a2 # element-wise addition of two arrays

array([ 3,  9, 12, 12, 13,  5])

In [11]:
a1 - a2 # element-wise subtraction of two arrays

array([-1,  1,  2, -6, -3, -1])

In [12]:
a1 * a2 # element-wise multiplication of two arrays

array([ 2, 20, 35, 27, 40,  6])

In [13]:
a1 / a2 # element-wise division of two arrays

array([0.5       , 1.25      , 1.4       , 0.33333333, 0.625     ,
       0.66666667])

In [14]:
ans = a1 ** 2 # element-wise square of the array

In [15]:
np.sqrt(ans)   # both are same sqrt / **2

array([1., 5., 7., 3., 5., 2.])

In [16]:
a3 = np.array([1.2 , 2.5 , 3.7 , 4.9]) # create a 1D numpy array with float values
a3

array([1.2, 2.5, 3.7, 4.9])

In [17]:
np.floor(a3) # floor value

array([1., 2., 3., 4.])

In [18]:
np.ceil(a3) # ceiling value

array([2., 3., 4., 5.])

In [19]:
np.round(a3) # round off value

array([1., 2., 4., 5.])

## Comining Arrays

In [20]:
a1

array([1, 5, 7, 3, 5, 2])

In [21]:
a2

[2, 4, 5, 9, 8, 3]

In [22]:
np.concatenate((a1 , a2))    # concatenate two arrays

array([1, 5, 7, 3, 5, 2, 2, 4, 5, 9, 8, 3])

In [ ]:
arr1 = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]) # create a 2D numpy array
arr1

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [25]:
arr2 = np.array([[9, 8, 7], [6, 5, 4], [3, 2, 1]]) # create another 2D numpy array
arr2

array([[9, 8, 7],
       [6, 5, 4],
       [3, 2, 1]])

In [26]:
np.vstack((arr1 , arr2))  # vertical stacking of two arrays

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9],
       [9, 8, 7],
       [6, 5, 4],
       [3, 2, 1]])

In [27]:
np.hstack((arr1 , arr2))  # horizontal stacking of two arrays

array([[1, 2, 3, 9, 8, 7],
       [4, 5, 6, 6, 5, 4],
       [7, 8, 9, 3, 2, 1]])

In [31]:
arr1.flatten() #coveert in list

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [32]:
arr2.flatten()

array([9, 8, 7, 6, 5, 4, 3, 2, 1])

## Spliting Arrays

In [33]:
arr = np.array([[1, 2, 3, 4, 5, 6]]) # create a 2D numpy array
arr

array([[1, 2, 3, 4, 5, 6]])

In [36]:
arr2 = np.array([[1, 2, 3, 4, 5, 6],
                [7, 8, 9, 10, 11, 12]]) # create another 2D numpy array
arr2

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12]])

## Searching in Array

In [38]:
a1

array([1, 5, 7, 3, 5, 2])

In [39]:
np.where(a1 == 7) # find the index of element '7' in the array

(array([2]),)

In [40]:
a3 = np.array ([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]) # create a 1D numpy array
a3

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [41]:
np.where(a3 == 3)# find the index of element '3' in the array

(array([2]),)

In [42]:
np.where(a1 > 3)  # get indices of elements greater than 3

(array([1, 2, 4]),)

In [43]:
np.where(a1 < 3)  # get indices of elements less than 3

(array([0, 5]),)

In [44]:
arr1

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [45]:
np.where(arr1 == 5)

(array([1]), array([1]))

In [46]:
arr3 = np.array([[1, 2, 3] , [4, 7, 6] , [3, 5, 9]]) # create a 2D numpy array
arr3

array([[1, 2, 3],
       [4, 7, 6],
       [3, 5, 9]])