In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({
    'Color' : ['Red', 'Blue', 'Green', 'Blue', 'Red', 'Green', 'Red']
})

In [3]:
df

   Color
0    Red
1   Blue
2  Green
3   Blue
4    Red
5  Green
6    Red

In [4]:
df.dtypes

Color    object
dtype: object

In [5]:
df['Color'] = df['Color'].astype('category')

In [6]:
df

   Color
0    Red
1   Blue
2  Green
3   Blue
4    Red
5  Green
6    Red

In [7]:
df.dtypes

Color    category
dtype: object

In [8]:
sizes = pd.Categorical(['s', 'm', 'l', 's', 'm', 'l'], categories=['s', 'm', 'l'], ordered=True)
sizes

['s', 'm', 'l', 's', 'm', 'l']
Categories (3, object): ['s' < 'm' < 'l']

In [9]:
df_grades = pd.DataFrame({'Grades': ['A', 'B', 'C', 'A', 'B', 'C', 'A']})

In [11]:
df_grades

  Grades
0      A
1      B
2      C
3      A
4      B
5      C
6      A

In [13]:
df_grades.value_counts()

Grades
A         3
B         2
C         2
Name: count, dtype: int64

In [14]:
df_grades['Grades'] = df_grades['Grades'].astype('category')

In [15]:
df_grades.dtypes

Grades    category
dtype: object

In [34]:
df = pd.DataFrame({
    'size' : ['S', 'M', 'L', 'M', 'L', 'S' , 'M'],
    'Items' : ['Shirts' , 'Pants' , 'Jackets' , 'Shoes' , 'Hats' , 'Socks' , 'Ties']
})

df

  size    Items
0    S   Shirts
1    M    Pants
2    L  Jackets
3    M    Shoes
4    L     Hats
5    S    Socks
6    M     Ties

In [ ]:
df['size'] = pd.Categorical(df['size'], categories=['S', 'M', 'L'], ordered=True)

In [35]:
df.sort_values(by = 'size')

  size    Items
2    L  Jackets
4    L     Hats
1    M    Pants
3    M    Shoes
6    M     Ties
0    S   Shirts
5    S    Socks

In [37]:
df['size'] > 'M'

0     True
1    False
2    False
3    False
4    False
5     True
6    False
Name: size, dtype: bool

In [38]:
df[df['size'] > 'M']

  size   Items
0    S  Shirts
5    S   Socks

In [36]:
df[df['size']=='M']

  size  Items
1    M  Pants
3    M  Shoes
6    M   Ties

In [39]:
df['is_Large'] = df['size'] == 'L'

In [40]:
df

  size    Items  is_Large
0    S   Shirts     False
1    M    Pants     False
2    L  Jackets      True
3    M    Shoes     False
4    L     Hats      True
5    S    Socks     False
6    M     Ties     False

In [41]:
df[df['size']>'M']

  size   Items  is_Large
0    S  Shirts     False
5    S   Socks     False

In [43]:
df[df['size']<'S']

  size    Items  is_Large
1    M    Pants     False
2    L  Jackets      True
3    M    Shoes     False
4    L     Hats      True
6    M     Ties     False

In [44]:
df[df['size'] == 'S']

  size   Items  is_Large
0    S  Shirts     False
5    S   Socks     False